:root {
    --primary: #D6104B;
    --size: 3rem;
    --secondary: #0567F3;
    --gradient: linear-gradient(45deg, rgb(70, 12, 58), #0E0829, #2B0F47);
}

::-webkit-scrollbar{
    width: 2px;
    background: #000;
}

::-webkit-scrollbar-thumb{
    height: 30px;
    background: linear-gradient(red,orange);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #0E0837;
    color: white;
    font-family: sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    height: 100vh;
}

.title-section h2 {
    color: var(--primary);
}

.title-section h1 {
    font-size: var(--size);
    background-image: url('https://media4.giphy.com/media/QNWc3RiTgbcvG04TEU/giphy.gif?cid=ecf05e470bbxjxibypol1xp25pftlvj6d6vvy63gl9m02g4z&ep=v1_gifs_search&rid=giphy.gif&ct=g');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
}

.title-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-section p {
    font-size: 1.3rem;
}

.title-section h5 {
    color: var(--primary);
    font-size: 1.2rem;
}

.icons {
    display: flex;
    gap: 1rem;
}


.title-section button {
    padding: 0.6rem;
    margin: 0.7rem 0;
    background: var(--secondary);
    align-self: flex-start;
    border: none;
    color: white;

}

.image-section {
    scale: 1.3;
}




.second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.festival {
    display: flex;
    background: #100726;
    padding: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.head{
    margin-bottom:1rem ;
    color: var(--primary);
}

.card button{
    align-self: flex-start;
    padding: 0.7rem;
    border-radius: 5px;
    background: var(--primary);
    color: white;
    border: none;
    font-weight: bolder;
}


.tours {
    width: 100%;
}

.journey {
    width: 60%;
    margin-left: auto;
    background: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);    padding: 2rem;
}
.journey-text{
    transition: all 0.7s;
}
.journey-image img{
    transition: all 0.9s;
}

.journey:hover .journey-image img{
    transform: translate(50%,-50%);
    border-radius: 50%;
}
.journey:hover .journey-text{
    transform: translateY(-100px);
}


.video{
    width: 80%;
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
    margin: auto;
}
.video-image{
    position: relative;


}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    color: white;
}



.tracks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('https://demo.moxcreative.com/beatkit/wp-content/uploads/sites/21/2021/04/dj-sound-equipment-at-nightclubs-and-music-festivals-edm-future-house-music-and-so-on.jpg');
}

.main-tracks{
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.track1,.track-right,.track-left{
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}

.track1{
    padding: 2rem 1rem ;
    background: var(--gradient)
}


.right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    align-self: center;
    background: var(--gradient);
    height: max-content;
    padding: 2rem;
}
.mic{
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items:  center ;
    gap: 1rem;
}

.mic-icon{
    background: linear-gradient(#3D7AE2,#6C65E0);
    padding: 0.5rem;

    border-radius: 50%;
}



/* tablet size */
@media only screen and (max-width:900px) {}


/* mobile size */
@media only screen and (max-width:600px) {
    main {
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .title-section {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title-section button {
        align-self: center;
    }

    .image-section {
        z-index: -1;
        scale: 1.8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -50%);
    }

    .second,.festival{
        flex-direction: column;
        width: 100%;
        padding: 2rem 0;
    }

    .journey{
        width: 80%;
        align-self: center;
        margin: 0;
    }

    .card,.head{
        padding: 0.5rem;
    }

    .main-tracks{
        flex-direction: column;
    }
    .right{
        width: 90%;
        margin: auto;
        padding: 1rem;
    }
    .right p{
        line-height: 1.7;
    }

}